body{
    text-align: center;
    margin-top: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input[type="number"] {
    width: 80px;
}


img {
    max-width: 90%;
}

#screens img {
    margin: 10px;
}
